@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: ;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;

    --box-shadow-light: 7px 7px 15px rgba(0, 0, 0, 0.1),
      -7px -7px 15px rgba(0, 0, 0, 0.1);
    --box-shadow-inset-light: inset 7px 7px 15px rgba(0, 0, 0, 0.1),
      inset -7px -7px 15px rgba(255, 255, 255, 0.7);
    --border-color-light: rgba(255, 255, 255, 0.18);
    --background-gradient: linear-gradient(135deg, #f5f7fa, #c3cfe2);

    --fill-color: black;
    --stroke-color: black;
    --fill-opacity: 0.05;
    --stroke-opacity: 0.1;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: ;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;

    --box-shadow-light: 7px 7px 15px rgba(0, 0, 0, 0.5),
      -7px -7px 15px rgba(0, 0, 0, 0.5);
    --box-shadow-inset-light: inset 7px 7px 15px rgba(0, 0, 0, 0.5),
      inset -7px -7px 15px rgba(255, 255, 255, 0.1);
    --border-color-light: rgba(255, 255, 255, 0.1);
    --background-gradient: linear-gradient(135deg, #09090b, #1a1a2e);

    --fill-color: white;
    --stroke-color: white;
    --fill-opacity: 0.2;
    --stroke-opacity: 0.15;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-mono;
  }

  .span-tooltip > span {
    position: absolute;
    width: fit-content;
    font-size: x-small;
    font-weight: 600;
    background-color: rgba(163, 163, 163, 0.4);
    padding: 3px 10px;
    border-radius: 4px;
    bottom: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
    transform: translateX(-0.3rem);
  }

  .span-tooltip > span::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 3px;
    background-color: inherit;
    transform: rotate(45deg);
    top: calc(100% - 6px);
    left: 40%;
  }

  .span-tooltip:hover > span {
    visibility: visible;
    opacity: 1;
    bottom: calc(100% + 6px);
  }

  .shadow-neumorph {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05),
      -2px -2px 2px rgba(255, 255, 255, 0.7);
  }

  .shadow-neumorph-active {
    box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.1),
      2px 2px 2px rgba(255, 255, 255, 0.8);
  }

  /* .neumorphism-glass {
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 7px 7px 15px var(--box-shadow-color1),
      -7px -7px 15px var(--box-shadow-color2),
      inset 7px 7px 15px var(--box-shadow-inset-color1),
      inset -7px -7px 15px var(--box-shadow-inset-color2);
    backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  } */

  .neumorphism-glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    box-shadow: var(--box-shadow-light);
    backdrop-filter: blur(10px);
    border: 1px solid var(--border-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .neumorphism-glass-top {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: var(--box-shadow-inset-light);
    backdrop-filter: blur(10px);
    border: 1px solid var(--border-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .purple-circle {
    position: absolute;
    width: 300px;
    height: 300px;
    background: linear-gradient(
      red,
      purple
    ); /* Purple with some transparency */
    clip-path: circle(20px at 50% 50%);
    filter: blur(10px);
    z-index: -1;
    top: calc(21% - 150px); /* Center the circle vertically */
    left: calc(79% - 150px); /* Center the circle horizontally */
  }

  .wave {
    position: absolute;
    width: 90%;
    height: 9%;
    opacity: 0.6;
    /* left: 0; */
    /* top: 0;
    margin-left: 50%; */
    /* margin-top: 50%; */
    background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
  }

  /* .wave:nth-child(2),
  .wave:nth-child(3) {
    top: -5px;
  } */

  .playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
  }

  .wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
  }

  .playing .wave:nth-child(2) {
    animation-duration: 4000ms;
  }

  .wave:nth-child(2) {
    animation-duration: 50s;
  }

  .playing .wave:nth-child(3) {
    animation-duration: 5000ms;
  }

  .wave:nth-child(3) {
    animation-duration: 45s;
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
